<div class="col m-0 p-0">
    <div class="alert alert-danger mb-1" role="alert" *ngIf="showUpdateError(statusOptions.FAIL)">
        <p class="m-0 p-0 small">Update Failed.</p>
    </div>
    <div class="alert alert-danger mb-1" role="alert" *ngIf="showDeleteError">
        <p class="m-0 p-0 small">Failed to remove the household.</p>
    </div>
    <div class="alert alert-success mb-1" role="alert" *ngIf="showUpdateError(statusOptions.SUCCESS)">
        <p class="m-0 p-0 small">Successfully updated.</p>
    </div>
    <div class="col row justify-content-between m-0 p-0">
        <div class="col m-0 p-0">
            <button class="btn btn-dark ml-1 btn-font-size" [disabled]="disableActions"
                (click)="openMemberCreator()">
                <i class="fas fa-user-plus"></i>
                Add Member
            </button>
        </div>
        <div class="col row justify-content-end m-0 p-0">
            <button class="btn btn-success btn-font-size mr-1" [disabled]="disableActions"
                (click)="updateHouseholdDetail()">
                <i class="fas fa-cloud-upload-alt" *ngIf="!isUpdating"></i>
                <i class="fa fa-circle-notch fa-spin" *ngIf="isUpdating"></i>
                <ng-container *ngIf="!isUpdating">
                    Update
                </ng-container>
                <ng-container *ngIf="isUpdating">
                    Updating
                </ng-container>
            </button>
            <button class="btn btn-danger btn-font-size mr-1" [disabled]="disableActions"
                (click)="deleteHouseholdDetail()">
                <i class="fas fa-trash" *ngIf="!isDeleting"></i>
                <i class="fa fa-circle-notch fa-spin" *ngIf="isDeleting"></i>
                <ng-container *ngIf="!isDeleting">
                    Delete
                </ng-container>
                <ng-container *ngIf="isDeleting">
                    Deleting
                </ng-container>
            </button>
            <button class="btn btn-dark mr-1 btn-font-size" [disabled]="disableActions"
                (click)="dialogRef.close(householdDetailForm.householdDetail.id)">
                <i class="fas fa-chevron-circle-left"></i>
                Back
            </button>
        </div>
    </div>
    <div class="col row m-0 p-0">
        <div class="col p-0 m-0">
            <div *ngFor="let memberForm of memberForms" class="m-1">
                <member-container [action]="USER_ACTION" [member]="memberForm.member" [index]="i"
                    [setting]="memberForm.setting" (refreshPage)="loadData()">
                </member-container>
            </div>
        </div>
        <div class="col p-0 m-1" *ngIf="householdDetailForm">
            <household-detail-container [householdDetail]="householdDetailForm.householdDetail"
                [memberForms]="memberForms" [setting]="householdDetailForm.setting">
            </household-detail-container>
        </div>
    </div>
</div>