<div class="alert alert-danger" role="alert" *ngIf="message.error">
    {{message.error}}
</div>
<div class="col row justify-content-end m-0 p-0">
    <button class="btn btn-dark" (click)="openGroupForm('CREATE')">
        Add Group
    </button>
    <button class="btn btn-dark ml-2" (click)="dialogRef.close()">
        Back
    </button>
</div>
<table class="table table-sm table-bordered table-striped mt-2">
    <thead class="thead-dark">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Locations</th>
            <th>Leader</th>
            <th>Assistant</th>
            <th style="width: 60px;"></th>
            <th style="width: 72px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let group of groups | async; let i = index">
            <td>{{i + 1}}</td>
            <td>{{group.groupName}}</td>
            <td>{{group.groupDescription}}</td>
            <td>{{group.leaderName}}</td>
            <td>{{group.assistantName}}</td>
            <td>
                <button class="btn btn-sm btn-primary" (click)="openGroupForm('EDIT', group)">
                    <i class="fas fa-edit"></i>
                    Edit
                </button>
            </td>
            <td>
                <button class="btn btn-sm btn-danger" (click)="deleteGroup(group.id)">
                    <i class="fas fa-trash"></i>
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>