.login-page {
  background-image: url("../../../assets/welcome.png");
  background-size: auto;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;  
}
