<div class="container-fluid vh-100 w-100 row justify-content-center align-items-center m-0 p-0 login-page">
    <div class="card p-4 login-card">
        <label class="small m-0">Username</label>
        <input class="form-control m-0 mt-1" placeholder="Username" type="text"
            [(ngModel)]="username" />
        <label class="small m-0 mt-2">Password</label>
        <input class="form-control m-0 mt-1 mb-1" placeholder="Password" type="password"
            [(ngModel)]="password" />
        <label class="small text-danger m-0" *ngIf="errorMessage">{{errorMessage}}</label>
        <button class="btn btn-primary mt-2" (click)="signIn()" [disabled]="isSigningIn">
            <i class="fa fa-circle-notch fa-spin" *ngIf="isSigningIn"></i>
            <ng-container *ngIf="!isSigningIn">
                Sign In
            </ng-container>
        </button>
    </div>
</div>