<div class="row justify-content-center">
    <div class="col">
        <div class="col row justify-content-end m-0 p-0">
            <button class="btn btn-dark m-0 add-btn" (click)="addMember()" [disabled]="disableActions">
                Add Member
            </button>
        </div>
        <div *ngFor="let memberForm of memberForms; let i = index" class="card mt-1">
            <member-container [action]="USER_ACTION" [member]="memberForm.member" [index]="i"
                [setting]="memberForm.setting" (removeLocalMember)="removeLocalMember($event)"></member-container>
        </div>
    </div>
    <div class="col">
        <div class="col row justify-content-end m-0 p-0 mb-1">
            <button class="btn btn-success create-btn" (click)="createHousehold()" [disabled]="disableActions">
                <i class="fa fa-circle-notch fa-spin" *ngIf="isCreatingHousehold"></i>
                Create</button>
            <button class="btn btn-danger ml-1 cancel-btn" (click)="dialogRef.close()"
                [disabled]="disableActions">Cancel</button>
        </div>
        <household-detail-container [householdDetail]="householdDetailForm.householdDetail"
         [memberForms]="memberForms"
         [setting]="householdDetailForm.setting">
        </household-detail-container>

    </div>
</div>