<div class="card p-4" style="width: 300px;">
    <label class="m-0">Role</label>
    <input class="form-control mb-2" placeholder="Role" [(ngModel)]="committeeMember.role" [disabled]="action === COMMITTEE_ACTIONS.EDIT"/>
    <label class="m-0">Member</label>
    <input list="name-input" class="form-control mb-4" name="name-input" placeholder="Member" [(ngModel)]="committeeMember.name"
        (keyup)="handleOnChange($event)" />
    <datalist id="name-input">
        <ng-container *ngFor="let member of members">
            <option>{{member.name}}</option>
        </ng-container>
        <!-- <option *ngFor="let member of members" value="member.christianName + ethnicName"></option> -->
    </datalist>
    <div class="row justify-content-center m-0">
        <button class="btn btn-success" [disabled]="disableAssign()" *ngIf="action === COMMITTEE_ACTIONS.CREATE" (click)="assignCommitteeMember()">
            <i class="fas fa-check-circle mr-1" *ngIf="!isLoading"></i>
            <i class="fa fa-circle-notch fa-spin" *ngIf="isLoading"></i>
            Assign</button>
        <button class="btn btn-success" *ngIf="action === COMMITTEE_ACTIONS.EDIT" (click)="updateCommitteMember()" [disabled]="disableAssign()">
            <i class="fas fa-check-circle mr-1" *ngIf="!isLoading"></i>
            <i class="fa fa-circle-notch fa-spin" *ngIf="isLoading"></i>
            Update</button>
    </div>
</div>