#remove-icon {
  cursor: pointer;
}

#remove-icon:hover {
  opacity: 0.8;
}

td {
  vertical-align: middle;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff !important;
  border-color: #28a745 !important;
  background-color: #28a745 !important;
}
label:hover {
    cursor: pointer;
}