<div class="card">
  <ng-container *ngIf="showCollapse">
    <div class="card-header row col m-0 justify-content-between align-items-center bg-dark text-white">
      <div class="col m-0 p-0">
        <p *ngIf="!setting.collapse" class="m-0 p-0">
          {{ member.fullName }} {{ member.otherName }} &nbsp;
        </p>
      </div>
      <div>
        <i class="fas fa-chevron-circle-right collapse-icon" *ngIf="!setting.collapse"
          (click)="collapseCard(setting)"></i>
        <i class="fas fa-chevron-circle-down collapse-icon" *ngIf="setting.collapse"
          (click)="collapseCard(setting)"></i>
      </div>
    </div>
  </ng-container>
  <div class="card-body" *ngIf="setting.collapse">
    <!-- <p class="col small text-danger m-0 p-0" *ngIf="showErrorMessage()">Fill out the required fields.</p> -->
    <div class="alert alert-danger" role="alert" *ngIf="showErrorMessage()">
      <p class="m-0">Fill out the required fields.</p>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      <p class="m-0">{{ errorMessage }}</p>
    </div>
    <h6>Add a new member.</h6>
    <label class="member-detail-label">Full name</label>
    <input class="form-control" placeholder="Full name" [(ngModel)]="member.fullName"
      [ngClass]="{ 'border-danger': setting.requireFullName }" />
    <label class="member-detail-label">Other name</label>
    <input class="form-control" placeholder="Other name" [(ngModel)]="member.otherName" />
    <label class="member-detail-label">Birth year</label>
    <select class="form-control default-options" [(ngModel)]="member.birthYear">
      <option [value]="null" disabled>Select Birth Year</option>
      <option *ngFor="let birthYearOption of birthYearOptions" [value]="birthYearOption">
        {{ birthYearOption }}
      </option>
    </select>
    <label class="member-detail-label">Gender</label>
    <select class="form-control default-options" [(ngModel)]="member.gender"
      [ngClass]="{ 'border-danger': setting.requireGender }">
      <option value="undefined" disabled>Select Gender</option>
      <option *ngFor="let genderOption of genderOptions" [value]="genderOption.short">
        {{ genderOption.long }}
      </option>
    </select>
    <label class="member-detail-label">Phone</label>
    <input class="form-control" placeholder="Phone number" type="text" max="10" [(ngModel)]="member.phone"
      [ngClass]="{'border-danger': setting.requirePhone}" />
    <div class="row col m-0 p-0 justify-content-end mt-4">
      <ng-container *ngIf="showCreateElements">
        <button class="btn btn-success mr-1" (click)="createMember(member)" [disabled]="disableActions">
          <i class="fa fa-circle-notch fa-spin" *ngIf="showCreateProgress"></i>
          Save
        </button>
        <button class="btn btn-dark mr-1" [disabled]="disableActions" (click)="closeDialog.emit()">
          Back
        </button>
      </ng-container>
      <ng-container *ngIf="showEditElements">
        <button class="btn btn-success" (click)="updateMember(member)" [disabled]="disableActions">
          <i class="fa fa-circle-notch fa-spin" *ngIf="showUpdateProgress"></i>
          Update
        </button>
        <button class="btn btn-danger ml-2" (click)="deleteMember(member.id)" [disabled]="disableActions">
          <i class="fa fa-circle-notch fa-spin" *ngIf="showDeleteProgress"></i>
          Delete
        </button>
      </ng-container>
    </div>
    <div class="col row justify-content-center m-0 p-0 mt-3" *ngIf="showRemoveButton">
      <button class="btn btn-danger remove-btn" (click)="removeLocalMember.emit(index)">
        Remove
      </button>
    </div>
  </div>
</div>