<div class="col m-0 p-0" *ngIf="becs">
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
    </div>
    <div class="col row justify-content-between m-0 p-0">
        <div class="col row">
            <select class="form-control" style="width: 150px;" (change)="hanldeOnChange($event)">
                <option *ngFor="let bec of becs" [value]="bec.id" [selected]="bec.id === selectedBecId">
                    {{bec.name}}
                </option>
            </select>
            <div class="col row align-items-center ml-4">
                <div class="card p-2">
                    <div class="col row m-0 p-0 justify-content-between">
                        <p class="m-0 p-0 ml-1">Leader - </p>
                        <p class="m-0 p-0 ml-1" *ngIf="bec">{{bec.leaderName}}</p>
                    </div>
                </div>
                <div class="card p-2 ml-2">
                    <div class="col row m-0 p-0 justify-content-between">
                        <p class="m-0 p-0 ml-1">Assistant - </p>
                        <p class="m-0 p-0 ml-1" *ngIf="bec">{{bec.assistantName}}</p>
                    </div>
                </div>
            </div>
            <button class="btn btn-dark btn-small" (click)="openBecManager()">
                <i class="fas fa-user-friends"></i>
                Manage B.E.C
            </button>
            <button class="btn btn-success ml-2 mr-2" [disabled]="true">
                <i class="fas fa-print"></i>
                Print
            </button>
        </div>

        <button class="btn btn-dark" (click)="closeDialog()">
            <i class="fas fa-chevron-circle-left"></i>
            Back
        </button>
    </div>
    <table class="table table-sm table-striped table-bordered mt-2" *ngIf="becsDetail">
        <thead class="thead-dark">
            <th>No.</th>
            <th>Householder</th>
            <th>Members</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Primary Phone</th>
            <th>Secondary Phone</th>
            <th style="width: 60px;"> </th>
        </thead>
        <tbody>
            <tr *ngFor="let becDetail of becsDetail | async ; let i = index">
                <td>{{i + 1}}
                    <i class="fas fa-check-circle text-success" *ngIf="becDetail.householderId === bec.leaderId || 
                    becDetail.householderId === bec.assistantId"></i>
                </td>
                <td>{{becDetail['householderName']}}</td>
                <td>{{becDetail['members']}}</td>
                <td>{{becDetail['addressLine']}}</td>
                <td>{{becDetail['city']}}</td>
                <td>{{becDetail['state']}}</td>
                <td>{{becDetail['zipCode']}}</td>
                <td>{{becDetail['primaryPhone']}}</td>
                <td>{{becDetail['secondaryPhone']}}</td>
                <td>
                    <button class="btn btn-sm btn-info" (click)="routeToEditPage(becDetail.householdId)">
                        <i class="fas fa-edit"></i>
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>