<div class="row m-0 p-0">
    <div class="col m-0 p-0">
        <div class="col row justify-content-between m-0 p-0 mb-1">
            <button class="btn btn-dark mr-2" (click)="openAssignLeader(ACTIONS.CREATE)">
                <i class="fas fa-user-plus"></i>
                Add Leader</button>
                <button class="btn btn-dark" (click)="closeDialog()">
                    <i class="fas fa-chevron-circle-left"></i>
                    Back</button>
        </div>
        <table class="table table-sm table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Role</th>
                    <th>Name</th>
                    <th style="width: 64px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let leader of leaders">
                    <td class="p-2">{{leader.role}}</td>
                    <td class="p-2">{{leader.name}}</td>
                    <td><button class="btn btn-sm btn-info" (click)="openAssignLeader(ACTIONS.EDIT, leader)">
                        <i class="fas fa-edit mr-1"></i>
                        Edit
                    </button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>