<div class="nav-bar row justify-content-end align-items-center m-0 p-0">
    <button class="btn btn-sm btn-dark action-btn mr-3">
        <i class="fas fa-chart-area"></i>
        Infographic
    </button>
    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" display="dynamic" placement="bottom-right">
        <button class="btn btn-sm btn-light action-btn" id="dropdownManual" ngbDropdownToggle
            (focus)="myDrop.open()">Browse All</button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <li ngbDropdownItem (click)="routeService.toCreate()">
                Add Household</li>
            <li ngbDropdownItem (click)="routeService.toBec()">
                Manage B.E.C</li>
            <li ngbDropdownItem (click)="routeService.toCommittee()">
                Manage Committee</li>
        </div>
    </div>
    <div class="d-inline-block text-light mr-2" ngbDropdown #userActions="ngbDropdown" display="dynamic"
        placement="bottom-right">
        <div class="row justify-content-end align-items-center m-0 p-0 user-actions" ngbDropdownToggle
            (focus)="userActions.open()">
            <i class="fas fa-user-circle user-icon"></i>
            <span class="user-title">{{username}}</span>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownManual" (click)="signOut()">
            <li ngbDropdownItem>
                Sign out</li>
        </div>
    </div>
</div>