<div class="nav-bar row justify-content-between align-items-center m-0 p-0">
    <div>
        <img src="../../../assets/cd-banner.png"/>
    </div>
   <div class="row">
    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" display="dynamic" placement="bottom-right">
        <button class="btn btn-sm btn-light action-btn" id="dropdownManual" ngbDropdownToggle
            (focus)="myDrop.open()">Browse All</button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <li ngbDropdownItem (click)="routeService.toCreate()">
                Add Household</li>
            <li ngbDropdownItem (click)="routeService.toGroup()">
                Manage Groups</li>
            <li ngbDropdownItem (click)="routeService.toLeader()">
                Manage Leaders</li>
        </div>
    </div>
    <div class="col row text-light mr-2" ngbDropdown #userActions="ngbDropdown" display="dynamic"
        placement="bottom-right">
        <div class="col row justify-content-end align-items-center m-0 p-0 user-actions" ngbDropdownToggle
            (focus)="userActions.open()">
            <i class="fas fa-user-circle user-icon"></i>
            <span class="user-title">{{username}}</span>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownManual" (click)="signOut()">
            <li ngbDropdownItem>
                Sign out</li>
        </div>
    </div>
   </div>
</div>