<div>
    <div class="alert alert-danger" role="alert" *ngIf="message.error">
        {{message.error}}
    </div>
    <p class="m-0 p-0">Basic Ecclesial Community</p>
    <p class="m-0 p-0 mt-2 small">Name</p>
    <input class="form-control" placeholder="Name" [(ngModel)]="bec.name" />
    <p class="m-0 p-0 mt-2 small">Locations</p>
    <textarea class="form-control" placeholder="Locations" [(ngModel)]="bec.locations"></textarea>
    <div class="col row m-0 p-0 mt-3">
        <button class="btn btn-dark mr-2" (click)="dialogRef.close({shouldRefresh: false})" [disabled]="creating">
            <i class="fas fa-times-circle"></i>
            Cancel
        </button>
        <button class="btn btn-success" (click)="addBec()" [disabled]="creating">
            <i class="fas fa-circle-notch fa-spin" *ngIf="creating"></i>
            <i class="fas fa-cloud-upload-alt" *ngIf="!creating"></i>
            Add
        </button>
    </div>
</div>